# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: npm # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'daily'
      time: '10:00'
      timezone: 'Asia/Tokyo'
    cooldown:
      default-days: 7
      semver-major-days: 14
    groups:
      astro:
        patterns:
          - '@astrojs*'
          - 'astro*'
        update-types:
          - 'minor'
          - 'patch'
      tailwind:
        patterns:
          - '@tailwindcss*'
          - 'tailwindcss'
        update-types:
          - 'minor'
          - 'patch'
      postcss:
        patterns:
          - 'postcss*'
          - 'autoprefixer'
        update-types:
          - 'minor'
          - 'patch'
      markdown:
        patterns:
          - 'rehype*'
          - 'remark*'
        update-types:
          - 'minor'
          - 'patch'
      icon:
        patterns:
          - '@iconify-json*'
        update-types:
          - 'minor'
          - 'patch'
      typescript:
        patterns:
          - 'typescript'
          - '@types/*'
        update-types:
          - 'minor'
          - 'patch'
      eslint:
        patterns:
          - '@eslint*'
          - 'eslint*'
          - 'typescript-eslint'
          - '@typescript-eslint/parser'
        update-types:
          - 'minor'
          - 'patch'
      prettier:
        patterns:
          - 'prettier*'
        update-types:
          - 'minor'
          - 'patch'
      major-updates:
        update-types:
          - 'major'
