@import 'tailwindcss';
@import 'rehype-callouts/theme/github';
@import './remark-link-card.css';
@import './remark-code.css';

@plugin '@tailwindcss/typography';
@theme {
  /* --breakpoint-xl: initial; */
  --breakpoint-2xl: initial;
}

/* アイテム1・アイテム2・アイテム3 みたいな中黒で分割したリスト */
.dot-separated {
  > * {
    &::after {
      content: '•';
      margin: 0 0.5em;
    }
    &:last-child::after {
      content: '';
      margin: 0;
    }
  }
}

/* rehype-callouts fix */
.callout-title-icon svg {
  fill: none;
}
