@import 'tailwindcss';
@import 'rehype-callouts/theme/github';
@import './remark-link-card.css';
@import './remark-code.css';

@plugin '@tailwindcss/typography';
@theme {
  /* --breakpoint-xl: initial; */
  --breakpoint-2xl: initial;
}
/* .dark も .light もない場合はOSの設定に従う */
@custom-variant dark {
  .dark & {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    html:not(.light):not(.dark) & {
      @slot;
    }
  }
}

/* アイテム1・アイテム2・アイテム3 みたいな中黒で分割したリスト */
.dot-separated {
  > * {
    &::after {
      content: '•';
      margin: 0 0.5em;
    }
    &:last-child::after {
      content: '';
      margin: 0;
    }
  }
}

/* rehype-callouts fix */
.callout-title-icon svg {
  fill: none;
}
