@import url('remark-link-card.css');
@import url('remark-code.css');

/* アイテム1・アイテム2・アイテム3 みたいな中黒で分割したリスト */
.dot-separated {
  > * {
    &::after {
      content: '•';
      margin: 0 0.5em;
    }
    &:last-child::after {
      content: '';
      margin: 0;
    }
  }
}
