/* ブレークポイント: 60ch（Tailwindcss/Typographyのproseのmax-widthを参考に） */
.remark-link-card-plus__container {
  --padding-x: 1rem;
  --padding-y: 0.7rem;
  --border-radius: calc(0.5rem - 1px);
  @apply rounded-[calc(var(--border-radius)+1px)];
  @apply border border-(--tw-prose-hr);
  @apply transition-[background-color] hover:bg-gray-50 dark:hover:bg-gray-800;
  @apply mb-5 w-full;
}

.remark-link-card-plus__card {
  @apply grid grid-cols-[1fr_116px] gap-4;
  @apply no-underline;

  @media (min-width: 60ch) {
    @apply grid-cols-[1fr_220px];
  }
}

.remark-link-card-plus__main {
  @apply flex flex-col justify-center font-normal;
  @apply max-w-full min-w-full;
  @apply col-1;
  @apply py-(--padding-y) pr-0 pl-(--padding-x);
  @apply rounded-tl-(--border-radius) rounded-bl-(--border-radius);
}

.remark-link-card-plus__content {
}

.remark-link-card-plus__title {
  @apply text-base leading-5 font-bold;
  @apply text-(--tw-prose-headings);
  @apply line-clamp-2 text-ellipsis;
}

.remark-link-card-plus__description {
  @apply text-sm text-gray-500 dark:text-gray-400;
  @apply mb-3;

  @apply line-clamp-1 text-ellipsis;
}

.remark-link-card-plus__meta {
  @apply flex items-center gap-2;
}

.remark-link-card-plus__favicon {
  @apply m-0 mt-0.5;
}

.remark-link-card-plus__url {
  @apply text-xs text-gray-600 dark:text-gray-300;
  @apply line-clamp-1 text-ellipsis;
}

.remark-link-card-plus__thumbnail {
  @apply col-2 aspect-square;

  @media (min-width: 60ch) {
    @apply aspect-[1.91/1];
  }
}

.remark-link-card-plus__image {
  @apply m-0 h-full w-full object-cover;
  @apply rounded-tr-(--border-radius) rounded-br-(--border-radius);
}
