---
const pageTitle = "About";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <a href="/">Blog</a>
      <a href="/about">About</a>
    </header>
    <article>
      <h1>{pageTitle}</h1>
      <h2>ソーシャルメディア</h2>
      <ul>
        <li><a href="https://twitter.com/thisissuree">X (Twitter)</a></li>
        <li>
          <a href="https://www.instagram.com/thisissuree/">Instagram</a>
        </li>
        <li><a href="https://www.threads.net/@thisissuree">Threads</a></li>
        <li><a href="https://mstdn.guru/@suree">Mastodon</a></li>
        <li><a href="https://unsplash.com/ja/@sur33">Unsplash</a></li>
        <li><a href="https://github.com/Suree33">GitHub</a></li>
        <li><a href="https://www.last.fm/user/ThisIsSuree">last.fm</a></li>
      </ul>
    </article>
  </body>
</html>
