---
import ProseArticleLayout from '../layouts/ProseArticleLayout.astro';
import { Image } from 'astro:assets';
const pageTitle = 'About';
import taxiImage from '../assets/images/daiki-sato-xzItvPFgpBQ-unsplash.jpg';
---

<ProseArticleLayout pageTitle={pageTitle}>
  <div
    class="dot-separated flex list-none flex-wrap justify-center p-0 text-base font-bold uppercase text-neutral-500"
  >
    <div>Tech</div>
    <div>Design</div>
    <div>Photography</div>
  </div>
  <h1 class="!text-4xl">Daiki Sato</h1>
  <Image
    class="rounded-lg object-cover"
    src={taxiImage}
    alt="渋谷のスクランブル交差点でタクシーを横から撮影した写真"
  />
  <h2>アイデア</h2>
  <ul>
    <li><a href="/dreamhouse">理想の家のアイデア</a></li>
  </ul>
  <h2>リンク</h2>
  <h3>ソーシャルメディア</h3>
  <ul>
    <li><a href="https://twitter.com/thisissuree">X (Twitter)</a></li>
    <li><a href="https://www.threads.net/@thisissuree">Threads</a></li>
    <li><a href="https://mstdn.guru/@suree">Mastodon</a></li>
    <li><a href="https://www.last.fm/user/ThisIsSuree">last.fm</a></li>
  </ul>
  <h3>写真</h3>
  <ul>
    <li>
      <a href="https://www.instagram.com/thisissuree/">Instagram</a>
    </li>
    <li><a href="https://unsplash.com/ja/@sur33">Unsplash</a></li>
  </ul>
  <h3>技術系</h3>
  <ul>
    <li><a href="https://github.com/Suree33">GitHub</a></li>
    <li><a href="https://zenn.dev/suree">Zenn</a></li>
  </ul>
</ProseArticleLayout>
