---
import Layout from '../layouts/Layout.astro';
import PostItem from '../components/PostItem.astro';
import { formatDate } from '../scripts/date';
const posts = await Astro.glob('./posts/*.md');
const pageTitle = 'Blog';
---

<Layout pageTitle={pageTitle}>
  <div class="mt-10 flex w-full justify-center px-4">
    <div class="container">
      <ul class="flex flex-col gap-y-4">
        {posts.map((post) => <PostItem post={post} />)}
      </ul>
    </div>
  </div>
</Layout>
