---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostItem from '../components/PostItem.astro';
let posts = await Astro.glob('./posts/*.md');
posts = posts
  .filter((post) => !post.frontmatter.draft)
  .sort((a, b) => {
    return Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date);
  });
const pageTitle = 'Blog';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="mt-10 flex w-full justify-center sm:px-4">
    <div class="container">
      <ul
        class="grid grid-cols-1 flex-col gap-4 gap-y-2 sm:gap-y-4 lg:grid-cols-2"
      >
        {posts.map((post) => <PostItem post={post} />)}
      </ul>
    </div>
  </div>
</BaseLayout>
