---

---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>sur33.com</h1>
    <ul>
      <li>
        <a href="/posts/fan-for-my-right-hand">
          手を乾かすために卓上扇風機を買った
        </a>
      </li>
      <li>
        <a href="/posts/logi-mx-master-is-better-than-lift">
          Logicool MX Liftを買ってみたけど、やっぱりMX Masterが最高だった
        </a>
      </li>
    </ul>
  </body>
</html>
