---
import FooterNavItem from './FooterNavItem.astro';
const { class: classList } = Astro.props;
---

<nav class={classList}>
  <FooterNavItem path="/" title="Home" />
  <FooterNavItem path="/about/" title="About" />
</nav>