---
const { path, title } = Astro.props;
const { pathname: currentPath } = Astro.url;

// ホームページかブログ記事ページの場合はホームリンクをアクティブに
const isHomeActive = currentPath === '/' || currentPath.startsWith('/posts');

// その他のページではパスが一致するか、現在のパスがそのパスで始まる場合（ルートパス以外）にアクティブに
const isLinkActive =
  (path === '/' && isHomeActive) ||
  (path !== '/' && currentPath !== '/' && currentPath.startsWith(path));
---

<a
  class={`uppercase ${isLinkActive ? 'border-b border-current' : ''}`}
  href={path}
>
  {title}
</a>
