---
import HeaderNavItem from './HeaderNavItem.astro';
import Hamburger from './Hamburger.astro';
import { Icon } from 'astro-icon/components';
---

<header
  class="sticky top-0 z-50 flex justify-center px-4 py-3 backdrop-blur-xl backdrop-saturate-150 sm:py-4 dark:text-white"
>
  <div class="container flex items-center justify-between">
    <div class="flex items-center justify-between gap-8">
      <h1>
        <a href="/">
          <img
            class="aspect-square w-8 rounded-full border sm:w-10"
            src="/profile-icon.jpg"
            alt=""
          />
        </a>
      </h1>
      <nav class="hidden gap-6 sm:flex">
        <HeaderNavItem
          path="/"
          title="Blog"
        />
        <HeaderNavItem
          path="/about"
          title="About"
        />
      </nav>
    </div>
    <div class="hidden items-center gap-x-6 text-xl sm:flex">
      <a
        href="https://twitter.com/thisissuree"
        target="_blank"
      >
        <Icon name="fa6-brands:x-twitter" />
      </a>
      <a
        href="https://www.threads.net/@thisissuree"
        target="_blank"
      >
        <Icon name="fa6-brands:threads" />
      </a>
      <a
        href="https://www.instagram.com/thisissuree/"
        target="_blank"
      >
        <Icon name="fa6-brands:instagram" />
      </a>
      <a href="https://unsplash.com/@sur33">
        <Icon name="fa6-brands:unsplash" />
      </a>
      <a href="https://github.com/Suree33">
        <Icon name="fa6-brands:github" />
      </a>
    </div>
    <div class="flex h-full items-center px-2 sm:hidden">
      <Hamburger
        width="1.7rem"
        height="0.9rem"
        textColor="text-black"
      />
    </div>
  </div>
</header>
<script>
  import '../scripts/menu';
</script>
