---
import { Icon } from 'astro-icon/components';
const { class: classList } = Astro.props;
import config from '../config.json';
---

<div class={classList}>
  <a
    href="https://twitter.com/thisissuree"
    aria-label="Twitter profile page (@thisissuree)"
    target="_blank"
  >
    <Icon name="fa6-brands:x-twitter" />
  </a>
  <a
    href="https://www.threads.net/@thisissuree"
    aria-label="Threads profile page (@thisissuree)"
    target="_blank"
  >
    <Icon name="fa6-brands:threads" />
  </a>
  <a
    href="https://www.instagram.com/thisissuree/"
    aria-label="Instagram profile page (@thisissuree)"
    target="_blank"
  >
    <Icon name="fa6-brands:instagram" />
  </a>
  <a
    href="https://github.com/Suree33"
    aria-label="GitHub profile page (@Suree33)"
    target="_blank"
  >
    <Icon name="fa6-brands:github" />
  </a>
  <a href="/rss.xml" aria-label="RSS feed" data-astro-reload>
    <Icon name="fa6-solid:rss" />
  </a>
</div>
