---
import { Icon } from 'astro-icon/components';
const { class: classList } = Astro.props;
---

<div class={classList}>
  <a
    href="https://twitter.com/thisissuree"
    aria-label="Twitter profile page (@thisissuree)"
    target="_blank"
  >
    <Icon name="fa6-brands:x-twitter" />
  </a>
  <a
    href="https://www.instagram.com/thisissuree/"
    aria-label="Instagram profile page (@thisissuree)"
    target="_blank"
  >
    <Icon name="fa6-brands:instagram" />
  </a>
  <a
    href="https://github.com/Suree33"
    aria-label="GitHub profile page (@Suree33)"
    target="_blank"
  >
    <Icon name="fa6-brands:github" />
  </a>
</div>
